spring:
  application:
    name: netty-gateway

  kafka:
    # 注意：在 Docker 网络内部，直接使用服务名和内部端口
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: netty-gateway-group
      auto-offset-reset: earliest

  datasource:
    # 注意：在 Docker 网络中，主机名使用 clickhouse
    url: jdbc:ch://clickhouse:8123/default?compress=false&buffer_size=65536&socket_timeout=30000
    driver-class-name: com.clickhouse.jdbc.ClickHouseDriver
    username: default
    password: ${CLICKHOUSE_PASSWORD}
    hikari:
      maximum-pool-size: 5 # ClickHouse 不需要太多连接，攒批写入 5 个足矣

server:
  port: 8080
